body {
    background: color(#ac87db);
    background-attachment: fixed;
    background-size: cover;
    color: #fff; 
}
.resume-header {
    background: linear-gradient(90deg, #270a5d, #000000);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.resume-wrapper-inner {
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 35px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    overflow: hidden; 
}
